$tubeBrown: #B36305;
$tubeRed: #E32017;
$tubeYellow: #FFD300;
$tubeGreen: #00782A;
$tubePink: #F3A9BB;
$tubePurple: #9B0058;
$tubeBlack: #000000;
$tubeBlue: #003688;
$tubeGrey: #B3B3B3;
$tubeLightBlue: #0098D4;
$tubeTurquoise: #95CDBA;
$tubeLightBg: #F5F5F5;
$tubeWhite: #FFFFFF;